name: dailymate
description: "Planning made easy with DailyMate - Your AI mate for daily task management."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.1

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  flutter_dotenv: ^6.0.0
  http: ^1.6.0
  provider: ^6.0.5
  sqflite: ^2.3.2
  path: ^1.8.3


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - .env
